<header>
  <% if user_signed_in? %>
    <div>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </div>
  <% else %>
    <div>
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to "新規登録", new_user_registration_path %>
    </div>
  <% end %>
</header>
